.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 24px;
  padding: 3px 8px;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 3px 10px;
  text-align: center;
  white-space: nowrap;
}

.button:hover {
  border-color: #aeb1b5;
}

.button:active, .button:focus {
  border-color: #1fc8db;
  outline: none;
}

.button[disabled], .button[disabled]:hover {
  background: #f5f7fa;
  border-color: #d3d6db;
}

.button[disabled]::-moz-placeholder, .button[disabled]:hover::-moz-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]::-webkit-input-placeholder, .button[disabled]:hover::-webkit-input-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]:-moz-placeholder, .button[disabled]:hover:-moz-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button[disabled]:-ms-input-placeholder, .button[disabled]:hover:-ms-input-placeholder {
  color: rgba(34, 35, 36, 0.3);
}

.button strong {
  color: inherit;
}

.button small {
  display: block;
  font-size: 11px;
  line-height: 1;
  margin-top: 5px;
}

.button .fa {
  line-height: 24px;
  margin: 0 -2px;
  width: 24px;
}

.button:hover {
  color: #222324;
}

.button:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.button.is-dark {
  background: #222324;
  border-color: transparent;
  color: white;
}

.button.is-dark:hover, .button.is-dark:focus {
  background: #090a0a;
  border-color: transparent;
  color: white;
}

.button.is-dark:active {
  border-color: transparent;
}

.button.is-dark.is-outlined {
  background: transparent;
  border-color: #222324;
  color: #222324;
}

.button.is-dark.is-outlined:hover, .button.is-dark.is-outlined:focus {
  border-color: #090a0a;
  color: #090a0a;
}

.button.is-dark.is-inverted {
  background: white;
  color: #222324;
}

.button.is-dark.is-inverted:hover {
  background: #f2f2f2;
}

.button.is-dark.is-inverted.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-dark.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-dark.is-loading:after {
  border-color: transparent transparent white white !important;
}

.button.is-primary {
  background: #1fc8db;
  border-color: transparent;
  color: white;
}

.button.is-primary:hover, .button.is-primary:focus {
  background: #199fae;
  border-color: transparent;
  color: white;
}

.button.is-primary:active {
  border-color: transparent;
}

.button.is-primary.is-outlined {
  background: transparent;
  border-color: #1fc8db;
  color: #1fc8db;
}

.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
  border-color: #199fae;
  color: #199fae;
}

.button.is-primary.is-inverted {
  background: white;
  color: #1fc8db;
}

.button.is-primary.is-inverted:hover {
  background: #f2f2f2;
}

.button.is-primary.is-inverted.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-primary.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-primary.is-loading:after {
  border-color: transparent transparent white white !important;
}

.button.is-info {
  background: #42afe3;
  border-color: transparent;
  color: white;
}

.button.is-info:hover, .button.is-info:focus {
  background: #1f99d3;
  border-color: transparent;
  color: white;
}

.button.is-info:active {
  border-color: transparent;
}

.button.is-info.is-outlined {
  background: transparent;
  border-color: #42afe3;
  color: #42afe3;
}

.button.is-info.is-outlined:hover, .button.is-info.is-outlined:focus {
  border-color: #1f99d3;
  color: #1f99d3;
}

.button.is-info.is-inverted {
  background: white;
  color: #42afe3;
}

.button.is-info.is-inverted:hover {
  background: #f2f2f2;
}

.button.is-info.is-inverted.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-info.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-info.is-loading:after {
  border-color: transparent transparent white white !important;
}

.button.is-success {
  background: #97cd76;
  border-color: transparent;
  color: white;
}

.button.is-success:hover, .button.is-success:focus {
  background: #7bbf51;
  border-color: transparent;
  color: white;
}

.button.is-success:active {
  border-color: transparent;
}

.button.is-success.is-outlined {
  background: transparent;
  border-color: #97cd76;
  color: #97cd76;
}

.button.is-success.is-outlined:hover, .button.is-success.is-outlined:focus {
  border-color: #7bbf51;
  color: #7bbf51;
}

.button.is-success.is-inverted {
  background: white;
  color: #97cd76;
}

.button.is-success.is-inverted:hover {
  background: #f2f2f2;
}

.button.is-success.is-inverted.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-success.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-success.is-loading:after {
  border-color: transparent transparent white white !important;
}

.button.is-warning {
  background: #fce473;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

.button.is-warning:hover, .button.is-warning:focus {
  background: #fbda41;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

.button.is-warning:active {
  border-color: transparent;
}

.button.is-warning.is-outlined {
  background: transparent;
  border-color: #fce473;
  color: #fce473;
}

.button.is-warning.is-outlined:hover, .button.is-warning.is-outlined:focus {
  border-color: #fbda41;
  color: #fbda41;
}

.button.is-warning.is-inverted {
  background: rgba(0, 0, 0, 0.5);
  color: #fce473;
}

.button.is-warning.is-inverted:hover {
  background: rgba(0, 0, 0, 0.5);
}

.button.is-warning.is-inverted.is-outlined {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.button.is-warning.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-warning.is-loading:after {
  border-color: transparent transparent rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5) !important;
}

.button.is-danger {
  background: #ed6c63;
  border-color: transparent;
  color: white;
}

.button.is-danger:hover, .button.is-danger:focus {
  background: #e84135;
  border-color: transparent;
  color: white;
}

.button.is-danger:active {
  border-color: transparent;
}

.button.is-danger.is-outlined {
  background: transparent;
  border-color: #ed6c63;
  color: #ed6c63;
}

.button.is-danger.is-outlined:hover, .button.is-danger.is-outlined:focus {
  border-color: #e84135;
  color: #e84135;
}

.button.is-danger.is-inverted {
  background: white;
  color: #ed6c63;
}

.button.is-danger.is-inverted:hover {
  background: #f2f2f2;
}

.button.is-danger.is-inverted.is-outlined {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-danger.is-inverted.is-outlined:hover {
  background: rgba(0, 0, 0, 0.05);
}

.button.is-danger.is-loading:after {
  border-color: transparent transparent white white !important;
}

.button.is-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding: 3px 6px;
}

.button.is-medium {
  font-size: 18px;
  height: 40px;
  padding: 7px 14px;
}

.button.is-large {
  font-size: 22px;
  height: 48px;
  padding: 11px 20px;
}

.button.is-fullwidth {
  display: block;
  width: 100%;
}

.button.is-flexible {
  height: auto;
}

.button.is-loading {
  color: transparent;
  pointer-events: none;
}

.button.is-loading:after {
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  position: absolute !important;
}

.button.is-disabled, .button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.button.is-loading:after {
  -webkit-animation: spin-around 500ms infinite linear;
          animation: spin-around 500ms infinite linear;
  border: 2px solid #d3d6db;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 16px;
  position: relative;
  width: 16px;
}

@media screen and (min-width: 769px) {
  .button small {
    color: #69707a;
    left: 0;
    margin-top: 10px;
    position: absolute;
    top: 100%;
    width: 100%;
  }
}